body {
	background: #EFEFBB;
	background: linear-gradient(to right, #f3d148, #6081c7);
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}
h2{
	font-size: 35px;
}
h3{
	font-size: 30px;
}

.button{
	border: none;
	color: white;
	background-color: #3a5da8;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.button:hover{
	color: black;
	background-color: white;
	border: 2px solid black;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}


.steel {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #f4f4f4;
}

.fire {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #FDDFDF;
}

.grass {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #DEFDE0;
}

.electric {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #FCF7DE;
}

.water, .ice {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #DEF3FD;
}

.ground {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #f4e7da;
}

.rock {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #d5d5d4;
}

.fairy {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #fceaff;
}

.poison {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #98d7a5;
}

.bug {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #f8d5a3;
}

.dragon {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #97b3e6;
}

.psychic {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #eaeda1;
}

.flying {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #F5F5F5;
}

.fighting {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #E6E0D4;
}

.normal {
	min-height: 400px;
	padding: 20px;
	border-radius: 20px;
	background-color: #F5F5F5;
}

.card:hover {
	animation: bounce 0.5s linear;
}


.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}